.main-header {
  width: 97%;
     /* background: linear-gradient(0deg, rgba(147, 2, 219, 1) 0%, rgb(176, 1, 245) 68%); */
   background:linear-gradient(0deg, rgba(147, 2, 219, 1) 0%, rgba(13, 11, 11, 1) 68%);
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 15px;
  border: 1px solid rgba(230, 14, 14, 0.05);

}

.logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
   color: #9C27FF;
}

.burger {
  position: fixed;
  top: 12px;
  right: -10px; 
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
  cursor: pointer;
  z-index: 1100;
  background: #050101;
  border-radius: 6px 0 0 6px;
  transition: opacity 0.3s ease;

}

.burger span {
  width: 28px;
  height: 3px;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
   background-color: #ffffff;
}

.burger.hide {
  opacity: 0;
  pointer-events: none;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100%;
  background: #000000;
  padding: 70px 20px;
  box-shadow: -2px 0 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(100%);
}


.side-menu a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
}

.side-menu a:hover {
  color: #4CAF50;
}

.side-menu.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 102;
  transition: 0.3s ease;
}

.overlay.show {
  display: block;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #e1dcdc;
  cursor: pointer;
  transition: 0.2s;
  z-index: 1100;
}

.close-btn:hover {
  color: #e53935;
}

