    .container {
      margin-top: 50px;
      margin-left: 500px;
      background: #13131a;;
      padding: 35px;
      width: 350px;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    h2 {
      margin: 0 0 10px;
      font-size: 26px;
      font-weight: bold;
      color: white;
    }

    .subtitle {
      font-size: 14px;
      color: #b5b5b5;;
      margin-bottom: 20px;
    }

    .subtitle a {
      color:  #9C27FF;
      text-decoration: none;
      font-weight: bold;
    }

    .field {
      color: white;
      margin-bottom: 15px;
    }

    .field label {
      color: white;

      display: block;
      font-size: 14px;
      margin-bottom: 5px;
      color: #b5b5b5;;
    }

    .field input {
      width: 100%;
      padding: 12px;
      border: 1px solid purple;
      border-radius: 8px;
      font-size: 14px;
      background: #1a1a22;
    }

    .login-btn {
      width: 100%;
      padding: 12px;
      background: linear-gradient(135deg, #9C27FF, #9C27FF);
      color: #fff;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      
    }

    .login-btn:hover {
      background: #9C27FF;
      transform: translateY(-6px) scale(1.05);
      box-shadow: 0 12px 25px #9C27FF;
      animation: lift 0.4s ease forwards;
      transform: translateY(-4px)
    }

    .social {
      text-align: center;
      margin-top: 20px;
    }

    .social p {
      margin-bottom: 10px;
      color: #555;
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .icons img {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    body {
      background-color: black;
      
    }