
.field input:focus{
    border-bottom:2px solid #9C27FF ;
}
.container {
    margin-top: 50px;
    margin-left: 500px;
    background: #13131a;
    padding: 35px;
    width: 350px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
    margin: 0 0 10px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.subtitle {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}



.subtitle a {
    color: #9C27FF;
    text-decoration: none;
    font-weight: bold;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #b5b5b5;;
}

.field input {
      color: white;

    width: 100%;
    padding: 12px;
    border: none;
   /* border-bottom: 2px solid gray;*/
    outline: none;
    /* border-radius: 8px; */
    font-size: 14px;
    background-color: #1a1a22;;
    border-radius: 10px;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background: #9C27FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

@keyframes lift {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-6px) scale(1.05);
  }
}

@keyframes drop {
  from {
    transform: translateY(-6px) scale(1.05);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.register-btn:hover {
  background: 9C27FF;
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 255, 0.4);
  animation: lift 0.4s ease forwards;
}

body {
    background:black;
    color:white;
}